:root {
  --nyanza: #e9f5dbff;
  --nyanza-2: #dcebcaff;
  --tea-green: #cfe1b9ff;
  --tea-green-2: #c2d5aaff;
  --olivine: #b5c99aff;
  --olivine-2: #a6b98bff;
  --olivine-3: #97a97cff;
  --moss-green: #849669ff;
  --reseda-green: #728359ff;
  --reseda-green-2: #606f49ff;
  --dark-green: rgb(81, 94, 61);
  --dark-green-2: rgb(75, 86, 57);
}