/*
Junicode-Regular
Junicode-RegularCondensed
Junicode-ItalicCondensed
Junicode-Italic
Junicode-BoldItalicCondensed
Junicode-BoldItalic
Junicode-BoldCondensed
Junicode-Bold
*/


body {
  --font-text: 'Junicode';
  --text-normal: blue;
}

body.theme-dark {
  --text-normal: red;
}

.markdown-rendered {
  --text-normal: gray;
}

.theme-dark .markdown-rendered {
  --text-normal: purple;
}

*/

body {
  --table-column-first-border-width: 0;
  --table-column-last-border-width: 0;
  --table-header-border-width: 0;
  --table-row-last-border-width: 0;
  --table-header-border-width: 0;
}

.markdown-preview-view td,
.markdown-preview-view th {
  border-right-color: transparent;
  border-left-color: transparent;

}

.markdown-rendered table {
  margin: 1.5em 0;
}

.markdown-rendered thead tr > th {
  --table-header-border-color: #00000000;
  border-bottom: #ffffff;
}